@import 'tailwindcss';

@theme {
  --font-*: initial;
  --font-sans: Graphik, sans-serif;
  --font-serif: Merriweather, serif;
  --font-chinese-traditional: PingFang TC, Microsoft JhengHei;

  --color-black: rgba(var(--cr-black), 1);
  --color-white: rgba(var(--cr-white), 1);
  --color-accent: rgba(var(--cr-accent), 1);
  --color-cream: rgba(var(--cr-cream), 1);
  --color-primary: rgba(var(--cr-primary), 1);
  --color-secondary: rgba(var(--cr-secondary), 1);
  --color-tertiary: rgba(var(--cr-tertiary), 1);
  --color-quaternary: rgba(var(--cr-quaternary), 1);

  --color-gray-50: var(--cr-gray-50);
  --color-gray-100: var(--cr-gray-100);
  --color-gray-200: var(--cr-gray-200);
  --color-gray-300: var(--cr-gray-300);
  --color-gray-400: var(--cr-gray-400);
  --color-gray-500: var(--cr-gray-500);
  --color-gray-600: var(--cr-gray-600);
  --color-gray-700: var(--cr-gray-700);
  --color-gray-800: var(--cr-gray-800);
  --color-gray-900: var(--cr-gray-900);

  --color-success: rgba(var(--cr-success), 1);
  --color-warn: rgba(var(--cr-warn), 1);
  --color-error: rgba(var(--cr-error), 1);

  --spacing-contain: var(--s-contain);
  --spacing-contain-dynamic: var(--s-contain-dynamic);

  --height-18: 4.5rem;
  --height-128: 32rem;

  --animate-caret-blink: caret-blink 1.25s ease-out infinite;

  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility wysiwyg {
  > *:not(:last-child) {
    margin-bottom: 10px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .t-h-1,
  .t-h-2,
  .t-h-3,
  .t-h-4,
  .t-h-5,
  .t-h-6 {
    &:not(:first-child) {
      margin-top: 20px;
    }

    a {
      text-decoration: underline;
    }
  }

  .btn,
  .btn-outline,
  .btn-underline {
    text-decoration: unset;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  p,
  ol,
  ul {
    font: var(--t-b-2);

    a {
      text-decoration: underline;
    }
  }

  ul,
  ol {
    padding-left: 1em;

    li:not(:last-child) {
      margin-bottom: 0.4em;
    }
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  blockquote {
    margin: 30px auto;
    quotes: '\201C' '\201D' '\2018' '\2019';

    &,
    p {
      font: var(--t-h-2);
    }

    p {
      display: inline;
      margin: 0;
    }

    &:before {
      content: open-quote;
      display: inline;
    }

    &:after {
      content: close-quote;
      display: inline;
    }
  }

  table {
    width: 100%;
    font: var(--t-b-2);
    border-collapse: collapse;
    border-spacing: 0;

    th,
    td {
      font-weight: 400;
      text-align: left;
      padding: 5px;
      border: 1px solid var(--cr-subtle);
    }

    th {
      background-color: var(--cr-subtle);
    }

    p {
      font: inherit;
    }
  }

  .aligncenter,
  .alignleft,
  .alignright {
    display: block;
    padding: 0;
  }

  .aligncenter {
    float: none;
    margin: 0.5em auto 1em;
  }

  .alignright {
    float: right;
    margin: 0.5em 0 1em 1em;
  }

  .alignleft {
    float: left;
    margin: 0.5em 1em 1em 0;
  }

  .wp-caption p.wp-caption-text {
    margin-top: 5px;
  }
}

@utility object-fit {
  --offset: 1px;

  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  overflow: hidden;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  > *:not(picture),
  > picture > img {
    position: absolute;
    max-width: unset;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-backface-visibility: hidden;
  }

  & > *:not(picture) {
    width: calc(100% + var(--offset) * 2) !important;
    height: calc(100% + var(--offset) * 2) !important;
    object-fit: cover;
  }

  & > picture > img {
    width: calc(100% + var(--offset) * 2) !important;
    height: calc(100% + var(--offset) * 2) !important;
    object-fit: cover;
  }
}

@utility object-contain {
  --offset: 1px;

  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  overflow: hidden;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  > *:not(picture),
  > picture > img {
    position: absolute;
    max-width: unset;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-backface-visibility: hidden;
  }

  & > *:not(picture) {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
  }

  & > picture > img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
  }
}

@utility child-fit {
  & > * {
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  & > * {
    height: 101%;
    object-fit: cover;
  }
}

@utility child-cover {
  & > * {
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  & > * {
    height: 101%;
    object-fit: cover;
  }
}

@utility child-contain {
  & > * {
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  & > * {
    height: 100%;
    object-fit: contain;
  }
}

@utility p-fill {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@utility p-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

@utility p-center-h {
  left: 50%;
  transform: translate3d(-50%, 50%, 0);
}

@utility p-center-v {
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

@utility icon-close {
  --thickness: 1px;

  position: relative;
  display: inline-block;
  width: 0.75em;
  height: 0.75em;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
  }

  &:before {
    border-top: var(--thickness) solid;
  }

  &:after {
    border-bottom: var(--thickness) solid;
  }

  &.icon-close {
    &:before {
      transform: translate3d(-50%, -50%, 0) rotate(45deg);
    }
    &:after {
      transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    }
  }

  &.icon-plus,
  &.icon-minus {
    &:before {
      transform: translate3d(-50%, -50%, 0) rotate(90deg);
    }
    &:after {
      transform: translate3d(-50%, -50%, 0);
    }
  }

  &.icon-minus:before {
    display: none;
  }
}

@utility icon-plus {
  --thickness: 1px;

  position: relative;
  display: inline-block;
  width: 0.75em;
  height: 0.75em;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
  }

  &:before {
    border-top: var(--thickness) solid;
  }

  &:after {
    border-bottom: var(--thickness) solid;
  }

  &.icon-close {
    &:before {
      transform: translate3d(-50%, -50%, 0) rotate(45deg);
    }
    &:after {
      transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    }
  }

  &.icon-plus,
  &.icon-minus {
    &:before {
      transform: translate3d(-50%, -50%, 0) rotate(90deg);
    }
    &:after {
      transform: translate3d(-50%, -50%, 0);
    }
  }

  &.icon-minus:before {
    display: none;
  }
}

@utility icon-minus {
  --thickness: 1px;

  position: relative;
  display: inline-block;
  width: 0.75em;
  height: 0.75em;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
  }

  &:before {
    border-top: var(--thickness) solid;
  }

  &:after {
    border-bottom: var(--thickness) solid;
  }

  &.icon-close {
    &:before {
      transform: translate3d(-50%, -50%, 0) rotate(45deg);
    }
    &:after {
      transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    }
  }

  &.icon-plus,
  &.icon-minus {
    &:before {
      transform: translate3d(-50%, -50%, 0) rotate(90deg);
    }
    &:after {
      transform: translate3d(-50%, -50%, 0);
    }
  }

  &.icon-minus:before {
    display: none;
  }
}

@utility icon-caret {
  &,
  &-left,
  &-right,
  &-top,
  &-bottom {
    --thickness: 1px;

    position: relative;
    display: inline-block;
    width: 0.75em;
    height: 0.75em;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 65%;
      height: 65%;
      top: 50%;
      left: 50%;
      border-top: var(--thickness) solid;
      border-left: var(--thickness) solid;
      transform: translate3d(-50%, -50%, 0) rotate(45deg);
    }

    &[class*='icon-arrow'] {
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 95%;
        top: 50%;
        left: 50%;
        border-top: var(--thickness) solid;
        transform: translate3d(-50%, -50%, 0);
      }

      &:before {
        width: 45%;
        height: 45%;
      }
    }

    &[class*='icon-arrow-left']:before {
      left: 32%;
    }

    &[class*='icon-arrow-right']:before {
      left: 69%;
    }

    &[class*='icon-arrow-top']:after,
    &[class*='icon-arrow-bottom']:after {
      transform: translate3d(-50%, -50%, 0) rotate(-90deg);
    }

    &[class*='icon-arrow-top']:before {
      top: 32%;
    }

    &[class*='icon-arrow-bottom']:before {
      top: 69%;
    }
  }

  &-left:before {
    transform: translate3d(-50%, -50%, 0) rotate(315deg);
  }

  &-right:before {
    transform: translate3d(-50%, -50%, 0) rotate(135deg);
  }

  &-top:before {
    top: 60%;
    transform: translate3d(-50%, -50%, 0) rotate(45deg);
  }

  &-bottom:before {
    top: 40%;
    transform: translate3d(-50%, -50%, 0) rotate(225deg);
  }
}

@utility icon-arrow {
  &,
  &-left,
  &-right,
  &-top,
  &-bottom {
    --thickness: 1px;

    position: relative;
    display: inline-block;
    width: 0.75em;
    height: 0.75em;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 65%;
      height: 65%;
      top: 50%;
      left: 50%;
      border-top: var(--thickness) solid;
      border-left: var(--thickness) solid;
      transform: translate3d(-50%, -50%, 0) rotate(45deg);
    }

    &[class*='icon-arrow'] {
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 95%;
        top: 50%;
        left: 50%;
        border-top: var(--thickness) solid;
        transform: translate3d(-50%, -50%, 0);
      }

      &:before {
        width: 45%;
        height: 45%;
      }
    }

    &[class*='icon-arrow-left']:before {
      left: 32%;
    }

    &[class*='icon-arrow-right']:before {
      left: 69%;
    }

    &[class*='icon-arrow-top']:after,
    &[class*='icon-arrow-bottom']:after {
      transform: translate3d(-50%, -50%, 0) rotate(-90deg);
    }

    &[class*='icon-arrow-top']:before {
      top: 32%;
    }

    &[class*='icon-arrow-bottom']:before {
      top: 69%;
    }
  }

  &-left:before {
    transform: translate3d(-50%, -50%, 0) rotate(315deg);
  }

  &-right:before {
    transform: translate3d(-50%, -50%, 0) rotate(135deg);
  }

  &-top:before {
    top: 60%;
    transform: translate3d(-50%, -50%, 0) rotate(45deg);
  }

  &-bottom:before {
    top: 40%;
    transform: translate3d(-50%, -50%, 0) rotate(225deg);
  }
}

@utility no-text-space {
  /* remove all visible spaces between elements */
  font-size: 0;
  line-height: 0;
}

@utility user-select-disable {
  /* no highlighting (via :selection), typically applied to clickable elements */
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@layer base {
	@font-face {
		font-family: 'Gerstner Programm';
		font-weight: 400;
		font-style: normal;
		font-display: block;
		src: url('/fonts/gerstner-programm-regular.woff2') format('woff2');
	}

	@font-face {
		font-family: 'ABC Diatype Mono';
		font-weight: 400;
		font-style: normal;
		font-display: block;
		src: url('/fonts/abc-diatype-mono-regular.woff2') format('woff2');
	}

	:root {
		--t-h-1: 400 74px/0.91 'Gerstner Programm', Helvetica, sans-serif;
		--t-h-2: 400 48px/1.08 'Gerstner Programm', Helvetica, sans-serif;
		--t-h-3: 400 42px/1 'Gerstner Programm', Helvetica, sans-serif;
		--t-h-4: 400 28px/0.96 'Gerstner Programm', Helvetica, sans-serif;
		--t-h-5: 400 24px/1 'Gerstner Programm', Helvetica, sans-serif;
		--t-h-6: 400 18px/1.11 'Gerstner Programm', Helvetica, sans-serif;
		--t-b-1: 16px/1.33 'Gerstner Programm', Helvetica, sans-serif;
		--t-b-2: 12px/1.33 'Gerstner Programm', Helvetica, sans-serif;
		--t-b-link: 12px/1 'ABC Diatype Mono', Helvetica, sans-serif;
		--t-l-1: 16px/1 'Gerstner Programm', Helvetica, sans-serif;
		--t-l-2: 12px/1 'Gerstner Programm', Helvetica, sans-serif;
		--header-height: 64px;
		--s-contain: Max(4vw, 20px);
		--s-contain-max: 2000px;
		--s-contain-dynamic: Max(
			var(--s-contain),
			calc((100vw - var(--s-contain-max)) / 2)
		);
	}

	@media screen and (min-width: 2174px) {
		:root {
			--s-edge: calc((100vw - var(--s-contain-max)) / 2);
		}
	}

	html {
		scroll-behavior: smooth;
		scroll-padding-top: calc(
			var(--s-announcement, 0px) + var(--s-header, 0px) + 20px
		);
	}

	::selection {
		text-shadow: none;
		background-color: var(--cr-subtle);
	}

	::-moz-selection {
		text-shadow: none;
		background-color: var(--cr-subtle);
	}

	body {
		font: var(--t-b-1);
		line-height: 1;
		-webkit-font-smoothing: subpixel-antialiased;
		background-color: var(--cr-black);
		color: var(--cr-white);
	}
	.t-h-1 {
		font: var(--t-h-1);
		letter-spacing: -3px;
	}

	.t-h-2 {
		font: var(--t-h-2);
		letter-spacing: -0.8px;
	}

	.t-h-3 {
		font: var(--t-h-3);
		letter-spacing: -2px;
	}

	.t-h-4 {
		font: var(--t-h-4);
		letter-spacing: -0.8px;
	}

	.t-h-5 {
		font: var(--t-h-5);
		letter-spacing: -0.8px;
	}

	.t-h-6 {
		font: var(--t-h-6);
		letter-spacing: -0.4px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.t-h-4 {
		font: var(--t-h-4);
	}

	.t-b-1 {
		font: var(--t-b-1);
	}

	.t-b-2 {
		font: var(--t-b-2);
	}

	.t-l-1 {
		font: var(--t-l-1);
		letter-spacing: -0.4px;
	}

	.t-l-2 {
		font: var(--t-l-2);
		letter-spacing: -0.4px;
	}
}

@layer utilities {
	:root {
		--cr-black: 0, 0, 0;
		--cr-white: 255, 255, 255;
		--cr-cream: 253, 253, 247;
		--cr-accent: 83, 92, 81;
		--cr-primary: 41, 102, 246;
		--cr-secondary: 208, 240, 70;
		--cr-tertiary: 208, 240, 70;
		--cr-quaternary: 241, 90, 34;

		--cr-gray-50: #fafafa;
		--cr-gray-100: #f5f5f5;
		--cr-gray-200: #eeeeee;
		--cr-gray-300: #e0e0e0;
		--cr-gray-400: #bdbdbd;
		--cr-gray-500: #9e9e9e;
		--cr-gray-600: #757575;
		--cr-gray-700: #616161;
		--cr-gray-800: #424242;
		--cr-gray-900: #171717;
		--cr-gray-950: #0a0a0a;

		--cr-success: 0, 104, 55;
		--cr-warn: 236, 189, 94;
		--cr-error: 163, 34, 15;
	}
}
