// ***SETTINGS***

// @font-face {
// 	font-family: 'FONTNAME';
// 	font-weight: 400;
// 	font-style: normal;
// 	font-display: block;

// Shopify
// 	src: url(../assets/font-fontname-regular.woff2) format('woff2');

// WP:
// 	src: url(../../assets-fonts/fontname-regular.woff2) format('woff2');

// ALSO PRELOAD IN </HEAD>
// }

:root {
	--cr-accent: #0000ff;
	--cr-black: #000000;
	--cr-white: #ffffff;

	--t-h-1: 700 48px/1.1 'Helvetica Neue', Helvetica, sans-serif;
	--t-h-2: 700 36px/1.1 'Helvetica Neue', Helvetica, sans-serif;
	--t-h-3: 700 30px/1.1 'Helvetica Neue', Helvetica, sans-serif;
	--t-h-4: 700 24px/1.1 'Helvetica Neue', Helvetica, sans-serif;
	--t-b-1: 24px/1.25 'Helvetica Neue', Helvetica, sans-serif;
	--t-b-2: 16px/1.25 'Helvetica Neue', Helvetica, sans-serif;
	--t-label-1: 14px/1 'Helvetica Neue', Helvetica, sans-serif;

	--w-1: 1500px;
	--w-2: 1200px;
	--w-3: 900px;
	--w-4: 600px;
	--w-5: 300px;

	--s-section: 100px;
	--s-contain: 4vw;
	--s-contain-max: 2000px;
	--s-edge: var(--s-contain);

	// Create variables for values that need to be consistent across the website. - e.g. --gap, --br (border-radius)
}

@media screen and (max-width: 600px) {
	:root {
		--s-section: 60px;
	}
}

/*	
	update edge spacing when --s-edge reaches its max width	
	var(--s-contain-max) / ( 1 - var(--s-contain) * 2 )
	e.g. 2000px / (1 - 4% * 2) = 2174px
*/

@media screen and (min-width: 2174px) {
	:root {
		--s-edge: calc((100vw - var(--s-contain-max)) / 2);
	}
}

// scroll positioning anchoring
html {
	scroll-behavior: smooth;
	scroll-padding-top: calc(
		var(--s-announcement, 0px) + var(--s-header, 0px) + 20px
	);
}

::selection {
	text-shadow: none;
	background-color: var(--cr-subtle);
}

::-moz-selection {
	text-shadow: none;
	background-color: var(--cr-subtle);
}

@media (hover: hover) {
	* {
		outline-offset: 2px;
		outline-color: transparent;
	}

	*:focus-visible {
		outline-style: dashed !important;
		outline-color: var(--cr-accent) !important;
	}
}

// ***COLORS***

html {
	color: var(--cr-black);
	background-color: var(--cr-white);
}

.cr-accent {
	color: var(--cr-accent);
}
.cr-black {
	color: var(--cr-black);
}
.cr-white {
	color: var(--cr-white);
}

.bg-accent {
	background-color: var(--cr-accent);
}
.bg-black {
	background-color: var(--cr-black);
}
.bg-white {
	background-color: var(--cr-white);
}

// ***TYPOGRAPHY***

body {
	font: var(--t-b-2);
	line-height: 1;
	-webkit-font-smoothing: subpixel-antialiased;
}

.t-h-1 {
	font: var(--t-h-1);
}

.t-h-2 {
	font: var(--t-h-2);
}

.t-h-3 {
	font: var(--t-h-3);
}

h1,
h2,
h3,
h4,
h5,
h6,
.t-h-4 {
	font: var(--t-h-4);
}

.t-b-1 {
	font: var(--t-b-1);
}

.t-b-2 {
	font: var(--t-b-2);
}

.t-label-1 {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font: var(--t-label-1);
}

// ***BUTTONS***

.btn,
.btn-outline,
.btn-underline {
	position: relative;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	text-align: center;
	box-shadow: unset;
	border: unset;
	outline: unset;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

	font: var(--t-b-2);
	height: var(--height);
	line-height: var(--height);
}

.btn,
.btn-outline {
	--height: 45px;
	padding: 0 25px;
	overflow: hidden;
	transition: background-color 0.3s, color 0.3s;
}

.btn {
	color: var(--cr-white);
	background-color: var(--cr-black);

	@media (hover: hover) {
		&:hover {
			color: var(--cr-black);
			background-color: var(--cr-accent);
		}
	}
}

.btn-outline {
	--border: 2px;
	border: var(--border) solid;
	line-height: calc(var(--height) - var(--border) * 2);

	@media (hover: hover) {
		&:hover {
			color: var(--cr-accent);
		}
	}
}

.btn-underline {
	font: var(--t-b-2);
	padding: 0 1px;

	&:before,
	&:after {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		top: 100%;
		left: 0;
		border-top: 1px solid;
		transform-origin: right;
	}

	&:after {
		transform: scaleX(0);
		border-color: var(--cr-accent);
		transition: transform 0.4s;
	}

	@media (hover: hover) {
		&:hover:after {
			transform: scaleX(1);
			transform-origin: left;
		}
	}
}

.btn[disabled],
button[disabled],
input[disabled] {
	color: inherit;
	background-color: var(--cr-subtle-2);
	cursor: not-allowed;
}

// ***FORMS***

input,
select,
textarea,
progress {
	accent-color: var(--cr-accent);
}

input[type='radio'],
input[type='checkbox'] {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	border: 1px solid;
	cursor: pointer;
	transition: background 0.3s;

	&[type='radio'] {
		border-radius: 100%;

		&:checked {
			background-color: var(--cr-accent);
			box-shadow: inset 0 0 0 2px var(--cr-white);
		}
	}

	&[type='checkbox'] {
		background: center/80% no-repeat;

		&:checked {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800.01 586.81'%3E%3Cpath fill='%23000000' d='M796.74 87.51 300.72 583.53c-4.37 4.37-11.44 4.37-15.8 0L3.27 301.88c-4.36-4.35-4.36-11.42 0-15.79l68.44-68.44c4.37-4.36 11.44-4.36 15.8 0l205.32 205.31L712.51 3.27c4.38-4.36 11.43-4.36 15.8 0l68.43 68.44c4.37 4.36 4.37 11.42 0 15.8Z'/%3E%3C/svg%3E");
		}
	}

	~ label {
		display: inline-block;
		padding-left: 0.5em;
		vertical-align: bottom;
		font: var(--t-b-2);
		line-height: 1;
		cursor: pointer;
	}
}

.field-col-2 {
	display: flex;
	flex-wrap: wrap;
	gap: var(--field-gap, 15px);

	.field {
		width: calc((100% - var(--field-gap, 15px)) / 2);
	}

	@media screen and (max-width: 600px) {
		margin-bottom: var(--field-gap, 15px);
		gap: 0;

		.field {
			width: 100%;
		}
	}
}

.field {
	--height: 45px;
	--line-height: 20px;
	--focus-offset: 5px;
	--padding-h: 16px;

	position: relative;
	line-height: 1;

	&:not(:last-child) {
		margin-bottom: var(--field-gap, 15px);
	}

	label {
		display: block;
		font: var(--t-b-2);
		line-height: 1;

		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	input[type='text'],
	input[type='email'],
	input[type='tel'],
	input[type='url'],
	input[type='password'],
	select,
	textarea {
		display: block;
		width: 100%;
		padding: 0 var(--padding-h);
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		border: none;
		color: inherit;
		border: 1px solid;
		transition: 0.2s;

		// focus state adjustments
		outline-offset: -1px;
		outline-color: transparent;

		@media (hover: hover) {
			&:focus-visible {
				outline-style: solid !important;
				outline-color: var(--cr-accent) !important;
			}
		}

		&,
		& ~ label {
			height: var(--height);
			padding: calc((var(--height) - var(--line-height)) / 2) var(--padding-h);
			font: var(--t-b-2);
			line-height: var(--line-height);
		}

		& ~ label {
			position: absolute;
			top: 0;
			left: 0;
			pointer-events: none;
			transition: 0.15s;
		}
	}

	&:not(.is-not-inline-label) {
		input[type='text'],
		input[type='email'],
		input[type='tel'],
		input[type='url'],
		input[type='password'],
		select,
		textarea {
			&:not(select):focus,
			&:placeholder-shown,
			&.is-contain-value {
				padding-top: calc(
					(var(--height) - var(--line-height)) / 2 + var(--focus-offset)
				);
				padding-bottom: calc(
					(var(--height) - var(--line-height)) / 2 - var(--focus-offset)
				);

				& ~ label {
					top: var(--focus-offset);
					padding-top: 0;
					padding-bottom: 0;
					line-height: 1;
					font-size: 11px;
					color: var(--cr-subtle-5);
				}
			}
		}
	}

	select {
		padding-right: calc(var(--padding-h) + 8px + var(--padding-h));
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 5'%3E%3Cpath fill-rule='evenodd' d='m3,5L6,0H0l3,5'/%3E%3C/svg%3E")
			right var(--padding-h) center/8px no-repeat;
		-webkit-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
	}

	textarea {
		white-space: normal;
		height: 200px;
		resize: vertical;
	}

	*::-webkit-input-placeholder {
		color: var(--cr-subtle-5);
	}

	*::-moz-placeholder {
		color: var(--cr-subtle-5);
	}

	*:-ms-input-placeholder {
		color: var(--cr-subtle-5);
	}

	*:-moz-placeholder {
		color: var(--cr-subtle-5);
	}
}

// ***WYSIWYG***

.wysiwyg {
	> *:not(:last-child) {
		margin-bottom: 10px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.t-h-1,
	.t-h-2,
	.t-h-3,
	.t-h-4,
	.t-h-5,
	.t-h-6 {
		&:not(:first-child) {
			margin-top: 20px;
		}

		a {
			text-decoration: underline;
		}
	}

	.btn,
	.btn-outline,
	.btn-underline {
		text-decoration: unset;

		&:not(:first-child) {
			margin-top: 20px;
		}
	}

	p,
	ol,
	ul {
		font: var(--t-b-2);

		a {
			text-decoration: underline;
		}
	}

	ul,
	ol {
		padding-left: 1em;

		li:not(:last-child) {
			margin-bottom: 0.4em;
		}
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;
	}

	blockquote {
		margin: 30px auto;
		quotes: '\201C''\201D''\2018''\2019';

		&,
		p {
			font: var(--t-h-2);
		}

		p {
			display: inline;
			margin: 0;
		}

		&:before {
			content: open-quote;
			display: inline;
		}

		&:after {
			content: close-quote;
			display: inline;
		}
	}

	table {
		width: 100%;
		font: var(--t-b-2);
		border-collapse: collapse;
		border-spacing: 0;

		th,
		td {
			font-weight: 400;
			text-align: left;
			padding: 5px;
			border: 1px solid var(--cr-subtle);
		}

		th {
			background-color: var(--cr-subtle);
		}

		p {
			font: inherit;
		}
	}

	// WP specific
	.aligncenter,
	.alignleft,
	.alignright {
		display: block;
		padding: 0;
	}

	.aligncenter {
		float: none;
		margin: 0.5em auto 1em;
	}

	.alignright {
		float: right;
		margin: 0.5em 0 1em 1em;
	}

	.alignleft {
		float: left;
		margin: 0.5em 1em 1em 0;
	}

	.wp-caption p.wp-caption-text {
		margin-top: 5px;
	}
}

.wysiwyg-page {
	// General page specific WYSIWYG stylings
	// Consider using &-page and wrap into the above SCSS, if you plan on inheriting many of the elements from above
}

// ***LOADER***
[data-loader] {
	position: relative;

	.loader {
		position: absolute;
		width: 100%;
		height: 3px;
		top: 0;
		left: 0;
		transform: scaleX(0);
		transform-origin: left center;
		transition: transform 0.4s var(--e-inOut-circ);
		background-color: var(--cr-accent);
		z-index: 500;
	}

	&[data-loader-progress='101'] .loader {
		transform-origin: right center;
		transform: scaleX(0);
		transition-duration: 0.8s;
	}

	&:where(html) > .loader {
		position: fixed;
	}
}
