.c-auth {
	max-width: 600px;
	margin: 0 auto;
	height: 100%;
	height: calc(100svh - var(--s-header) * 2);
	width: 100%;
	color: var(--cr-white);

	&__heading {
		text-transform: uppercase;
		margin-bottom: 40px;
		text-align: center;
	}

	&__content {
		max-width: 350px;
		width: 100%;
		margin: 0 auto;
	}

	&__form {
		margin: 0 auto 36px;
		width: 100%;
	}

	.btn {
		width: 100%;
		border-radius: var(--radius-xxs);

	}


	&__info {
		text-align: center;

		p {
			margin-bottom: 12px;
		}

		&-cta {
			width: 100%;
			border-radius: 10px;
			border: 1px solid;
			height: 40px;
		}
	}

	&__help {
		margin-top: 36px;
		text-align: center;
	}

	&__verification {
		&-subheading {
			margin-bottom: 40px;
		}

		&-inputs {
			gap: 8px;
		}

		input {
			flex: 1;
			padding: 4px 0 5px;
			box-sizing: content-box;
			background: none;
			height: 70px;
			max-width: 45px;
			border-radius: 14px;
			background: var(--cr-white, #F6F8F7);
			color: var(--cr-black);
			box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
			font: var(--t-h-6);
			text-align: center;

			&:focus {
				outline: none !important;
				box-shadow: 0 0 0 3px var(--cr-primary);
			}

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			/* Firefox */
			&[type=number] {
				-moz-appearance: textfield;
			}
		}

		&-submit-btn {
			margin: 36px auto;

		}
	}
}