.c-sign-up {
	max-width: 350px;
	margin: 0 auto;
	height: 100%;
	height: calc(var(--s-vp-height) - var(--s-header) * 2);

	&__heading {
		text-transform: uppercase;
		margin-bottom: 40px;
		text-align: center;
	}

	&__form {
		margin-bottom: 24px;
	}

	.btn {
		width: 100%;
		border-radius: var(--radius-xxs);
	}


	&__info {
		text-align: center;
	}
}