.g-ada-skip {
	position: fixed;
	top: calc(var(--s-announcement-dynamic, var(--s-announcement, 0px)) + 10px);
	left: 10px;
	transform: translateY(-100vh);
	z-index: 1000;

	&:focus {
		transform: translateY(0);
	}
}
