.g-announcement {
	--dot-size: 10px;
	--dot-gap: 8px;

	display: none;
	position: relative;
	text-align: center;
	color: var(--color);
	background-color: var(--background);

	&:empty {
		display: none;
	}
}

.announcement-blocks {
	position: relative;

	.block {
		position: relative;
		width: 100%;
		top: 0;
		left: 0;
		padding: 10px 0;
		transition: opacity 0.4s 0.4s;

		&:not(.is-active) {
			position: absolute;
			opacity: 0;
			pointer-events: none;
			transition-delay: 0s;
		}
	}

	.block b,
	.block strong {
		color: var(--emphasize);
	}
}

.announcement-dots {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 0 10px 6px;
	gap: var(--dot-gap);

	button {
		position: relative;
		width: var(--dot-size);
		height: var(--dot-size);
		border: 1px solid;
		border-radius: 100%;
		transition: background 0.2s, border 0.2s;

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: calc(var(--dot-size) + var(--dot-gap));
			height: calc(var(--dot-size) + var(--dot-gap));
			transform: translate3d(-50%, -50%, 0);
		}

		&.is-active {
			color: var(--emphasize);
			background-color: var(--emphasize);
		}

		@media (hover: hover) {
			&:hover {
				color: var(--emphasize);
			}
		}
	}
}